

body{
    background-color: #181818 !important;
}

form {
    color: white;
}

input {
    background: #222222 !important;
    border-color: #323232 !important;
}

input::placeholder {
    color: rgb(109, 109, 109) !important;
}

input {
    color: rgb(245, 245, 245) !important;
}

.input-group-text {
    background-color: #2c2b2b !important;
    color: white !important;
    border-color: #323232 !important;
}

/*diseno alertas*/
.alert-danger {
    --bs-alert-color: #d19ba0 !important;
    --bs-alert-bg: #2c0b0e !important;
    --bs-alert-border-color: #842029 !important;
    --bs-alert-link-color: #ffffff !important;
}

.ctn-form {
    border: 1px solid;
    border-radius: 10px;
    padding: 13px;
}

input#campo-resultado {
    background: #313132 !important;
}
